<ion-header>
    <ion-toolbar>
        <ion-title> {{ 'HOME.title' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openLanguagePopOver($event)">
                <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
<!--  With pipe-->
  <ion-label>  {{ 'HOME.greeting' | translate: params}}</ion-label>

  <!--  with directive-->
  <ion-text color="secondary" [translate]="'HOME.greeting'" [translateParams]="params"></ion-text>

<!--  with directive and html-->
  <ion-text color="secondary" [innerHTML]="'HOME.withcode' | translate" ></ion-text>

  <ion-button expand="block" (click)="showAlert()">
    {{ 'HOME.btn' | translate}}
  </ion-button>
</ion-content>
